In [1]:
import numpy as np
import pandas as pd
df_train=pd.read_csv('E:/Kaggle Competitions/Titanic/train.csv')
df_test=pd.read_csv('E:/Kaggle Competitions/Titanic/train.csv')

In [2]:
df_train.drop(['Name'],axis=1,inplace=True)

In [5]:
df_train.drop(['Cabin'],axis=1,inplace=True)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,female,35.0,1,0,113803,53.1000,S
4,5,0,3,male,35.0,0,0,373450,8.0500,S
5,6,0,3,male,NaN,0,0,330877,8.4583,Q
6,7,0,1,male,54.0,0,0,17463,51.8625,S
7,8,0,3,male,2.0,3,1,349909,21.0750,S
8,9,1,3,female,27.0,0,2,347742,11.1333,S
9,10,1,2,female,14.0,1,0,237736,30.0708,C
10,11,1,3,female,4.0,1,1,PP 9549,16.7000,S
11,12,1,1,female,58.0,0,0,113783,26.5500,S
12,13,0,3,male,20.0,0,0,A/5. 2151,8.0500,S
13,14,0,3,male,39.0,1,5,347082,31.2750,S
14,15,0,3,female,14.0,0,0,350406,7.8542,S
15,16,1,2,female,55.0,0,0,248706,16.0000,S
16,17,0,3,male,2.0,4,1,382652,29.1250,Q
17,18,1,2,male,NaN,0,0,244373,13.0000,S
18,19,0,3,female,31.0,1,0,345763,18.0000,S
19,20,1,3,female,NaN,0,0,2649,7.2250,C
20,21,0,2,male,35.0,0,0,239865,26.0000,S
21,22,1,2,male,34.0,0,0,248698,13.0000,S
22,23,1,3,female,15.0,0,0,330923,8.0292,Q
23,24,1,1,male,28.0,0,0,113788,35.5000,S
24,25,0,3,female,8.0,3,1,349909,21.0750,S
25,26,1,3,female,38.0,1,5,347077,31.3875,S
26,27,0,3,male,NaN,0,0,2631,7.2250,C
27,28,0,1,male,19.0,3,2,19950,263.0000,S
28,29,1,3,female,NaN,0,0,330959,7.8792,Q
29,30,0,3,male,NaN,0,0,349216,7.8958,S
...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,male,21.0,1,0,28134,11.5000,S
862,863,1,1,female,48.0,0,0,17466,25.9292,S
863,864,0,3,female,NaN,8,2,CA. 2343,69.5500,S
864,865,0,2,male,24.0,0,0,233866,13.0000,S
865,866,1,2,female,42.0,0,0,236852,13.0000,S
866,867,1,2,female,27.0,1,0,SC/PARIS 2149,13.8583,C
867,868,0,1,male,31.0,0,0,PC 17590,50.4958,S
868,869,0,3,male,NaN,0,0,345777,9.5000,S
869,870,1,3,male,4.0,1,1,347742,11.1333,S
870,871,0,3,male,26.0,0,0,349248,7.8958,S
871,872,1,1,female,47.0,1,1,11751,52.5542,S
872,873,0,1,male,33.0,0,0,695,5.0000,S
873,874,0,3,male,47.0,0,0,345765,9.0000,S
874,875,1,2,female,28.0,1,0,P/PP 3381,24.0000,C
875,876,1,3,female,15.0,0,0,2667,7.2250,C
876,877,0,3,male,20.0,0,0,7534,9.8458,S
877,878,0,3,male,19.0,0,0,349212,7.8958,S
878,879,0,3,male,NaN,0,0,349217,7.8958,S
879,880,1,1,female,56.0,0,1,11767,83.1583,C
880,881,1,2,female,25.0,0,1,230433,26.0000,S
881,882,0,3,male,33.0,0,0,349257,7.8958,S
882,883,0,3,female,22.0,0,0,7552,10.5167,S
883,884,0,2,male,28.0,0,0,C.A./SOTON 34068,10.5000,S
884,885,0,3,male,25.0,0,0,SOTON/OQ 392076,7.0500,S
885,886,0,3,female,39.0,0,5,382652,29.1250,Q
886,887,0,2,male,27.0,0,0,211536,13.0000,S
887,888,1,1,female,19.0,0,0,112053,30.0000,S
888,889,0,3,female,NaN,1,2,W./C. 6607,23.4500,S
889,890,1,1,male,26.0,0,0,111369,30.0000,C
890,891,0,3,male,32.0,0,0,370376,7.7500,Q

In [6]:
df_train.drop(['Ticket'],axis=1,inplace=True)

In [29]:
sex={'male':0,'female':1}
embark={'S':0,'C':1,'Q':2,None:1}
df_train.replace({'Sex':sex},inplace=True)
df_train.replace({'Embarked':embark},inplace=True)

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [8]:
mean=df_train['Age'].mean()
age={None:mean}
df_train.replace({'Age':age},inplace=True)

In [9]:
df_train['Age']=df_train['Age'].astype(int)
df_train['Fare']=df_train['Fare'].astype(int)
df_train['Embarked']=df_train['Embarked'].astype(int)

In [10]:
df_train

     PassengerId  Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0              1         0       3    0   22      1      0     7         0
1              2         1       1    1   38      1      0    71         1
2              3         1       3    1   26      0      0     7         0
3              4         1       1    1   35      1      0    53         0
4              5         0       3    0   35      0      0     8         0
5              6         0       3    0   29      0      0     8         2
6              7         0       1    0   54      0      0    51         0
7              8         0       3    0    2      3      1    21         0
8              9         1       3    1   27      0      2    11         0
9             10         1       2    1   14      1      0    30         1
10            11         1       3    1    4      1      1    16         0
11            12         1       1    1   58      0      0    26         0
12            13         0       3    0   20      0      0     8         0
13            14         0       3    0   39      1      5    31         0
14            15         0       3    1   14      0      0     7         0
15            16         1       2    1   55      0      0    16         0
16            17         0       3    0    2      4      1    29         2
17            18         1       2    0   29      0      0    13         0
18            19         0       3    1   31      1      0    18         0
19            20         1       3    1   29      0      0     7         1
20            21         0       2    0   35      0      0    26         0
21            22         1       2    0   34      0      0    13         0
22            23         1       3    1   15      0      0     8         2
23            24         1       1    0   28      0      0    35         0
24            25         0       3    1    8      3      1    21         0
25            26         1       3    1   38      1      5    31         0
26            27         0       3    0   29      0      0     7         1
27            28         0       1    0   19      3      2   263         0
28            29         1       3    1   29      0      0     7         2
29            30         0       3    0   29      0      0     7         0
..           ...       ...     ...  ...  ...    ...    ...   ...       ...
861          862         0       2    0   21      1      0    11         0
862          863         1       1    1   48      0      0    25         0
863          864         0       3    1   29      8      2    69         0
864          865         0       2    0   24      0      0    13         0
865          866         1       2    1   42      0      0    13         0
866          867         1       2    1   27      1      0    13         1
867          868         0       1    0   31      0      0    50         0
868          869         0       3    0   29      0      0     9         0
869          870         1       3    0    4      1      1    11         0
870          871         0       3    0   26      0      0     7         0
871          872         1       1    1   47      1      1    52         0
872          873         0       1    0   33      0      0     5         0
873          874         0       3    0   47      0      0     9         0
874          875         1       2    1   28      1      0    24         1
875          876         1       3    1   15      0      0     7         1
876          877         0       3    0   20      0      0     9         0
877          878         0       3    0   19      0      0     7         0
878          879         0       3    0   29      0      0     7         0
879          880         1       1    1   56      0      1    83         1
880          881         1       2    1   25      0      1    26         0
881          882         0       3    0   33      0      0     7         0
882          883         0       3    1   22      0      0    10         0
883          884         0       2    0   28      0      0    10         0
884          885         0       3    0   25      0      0     7         0
885          886         0       3    1   39      0      5    29         2
886          887         0       2    0   27      0      0    13         0
887          888         1       1    1   19      0      0    30         0
888          889         0       3    1   29      1      2    23         0
889          890         1       1    0   26      0      0    30         1
890          891         0       3    0   32      0      0     7         2

[891 rows x 9 columns]

In [16]:
from sklearn.model_selection import train_test_split
x=df_train[['PassengerId','Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]
y=df_train[['Survived']]
X_train,X_test,y_train,y_test= train_test_split(x,y,random_state=0)

# K-nn

In [28]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=12)
knn.fit(X_train,y_train)
train_score=knn.score(X_train,y_train)
test_score=knn.score(X_test,y_test)
train_score,test_score

C:\Users\Vatsal pc\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

(0.6736526946107785, 0.7085201793721974)